
<div class="main">
<div class="container">
    <div class="form_container">
    <%= form_tag("/material/create") do %>
    <p>材料名</p>
    <input type="text" placeholder="ミガキ" name="name">
    <p>値段</p>
    <input type="text" placeholder="100円/kg" name="price">
    <p>サイズ</p>
    <input type="text" placeholder="t=1.2×1219×2438" name="size">
    <p>サプライヤー</p>
    <%= collection_select(:material,:supplier_id, @suppliers, :id, :name,{prompt:"選択してください"},class:"search-occupation") %>
    <input type="submit" class="submit">
    <% end %>
    </div>
</div>
</div>

