<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="UTF-8">
 <title>材料費管理アプリ</title>

 <link rel="stylesheet" href="/top.css">
</head>

<main>

<div class="container">

<form method="get" action="#" class="search_container">
  <input type="text" size="25" placeholder="材料名を入力ください">
  <input type="submit" value="&#xf002">
</form>
<div>

</main>


</body>
</html>