<div class="main">
<div class="container">
    <div class="supplier_card">
        <div class="supplier_left">
        <div class="supplier_name">
            <%= @supplier.name %>
        </div>
        </div>
<div class="supplier_person">
    <%= @supplier.person %>
</div>

<div class="supplier_right">
<div class="supplier_phone_number">
    <%= @supplier.phone_number %>
</div>
</div>
</div>
</div>
</div>